<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.RoadShop.shopping.mapper.UserMapper">
    <insert id="signUp" parameterType="com.RoadShop.shopping.dto.UserDto" useGeneratedKeys="true" keyProperty="id">
        insert into users (email, PASSWORD, name, phone) values (#{email}, #{password}, #{name}, #{phone});
    </insert>
    <select id="findUser" parameterType="com.RoadShop.shopping.dto.UserDto">
        select email from users where email=#{email};
    </select>
</mapper>