<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--      layout:decorate="~{layout/base} > "-->

<head>
    <title>ORDER 목록</title>
</head>
<body>
<!--    <main layout:fragment="content">-->
    <main>
        <h1>ORDER LIST</h1>
            <table>
                <tr>
                    <th>주문번호</th>
                    <th>주문상태</th>
                    <th>주문금액</th>
                    <th>배달주소</th>
                    <th>주문시각</th>
                </tr>
                <!-- 리스트 반복 출력 -->
                <tr th:each="order:${orders}">
<!--                    <td th:text="${order.order_id}"></td>-->
<!--                    <td th:text="${order.order_status}"></td>-->
<!--                    <td th:text="${order.total_amount}"></td>-->
<!--                    <td th:text="${order.shipping_address}"></td>-->
<!--                    <td th:text="${order.created_at}"></td>-->
                </tr>
                <!------------------->
            </table>
    </main>
</body>
</html>